body {
    background: rgba(51, 139, 240, 0.3);
    font: normal 14pt Calibri;
}

header {
    text-align: center;
    padding-top: 5px;
}

main {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 75%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.a-1 {
    color: blue;
}
a.a-2 {
    color: rgb(209, 164, 95);
}

div {
    text-align: center;
    padding: 15px;
}

table {
    padding: 20px;
}
table.centered {
    margin: auto;
    width: fit-content;
}
table.centered tr td.slider-label {
    text-align: right;
}
td p {
    height: 20px;
    margin: 0px;
}

table.grupos-SIR {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}
table.grupos-SIR caption {
    color: rgba(50, 50, 50, 0.9);
    caption-side: bottom;
}
table.grupos-SIR tr.sus {
    background-color: rgba(0, 100, 255, 0.3);
}
table.grupos-SIR tr.inf {
    background-color: rgba(255, 0, 0, 0.3);
}
table.grupos-SIR tr.rem {
    background-color: rgba(128, 128, 128, 0.3);
}
table.grupos-SIR td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 1px 4px 1px;
}

input.slider {
    margin-top: 10px;
    height: 100%;
    width: 30vw;
    opacity: 70%;
}
input.slider:hover{
    opacity: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 10px 5px 20px 5px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}
ul.navbar li {
    float: left;
}
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.2s;
}
ul.navbar li a:hover {
    background-color: rgba(128, 128, 128, 0.8);
}


footer {
    text-align: center;
}
