body {
    background: rgba(0, 185, 240, 0.2);
    font: normal 15pt Liberation;
}

header {
    text-align: center;
}


section {
    text-align: center;
}

table.centered {
    margin: auto;
    width: fit-content;
}
table.centered tr {
    height: 40px;
}
table.centered tr td.slider-label {
    text-align: right;
}

input.slider {
    margin-top: 10px;
    height: 100%;
    width: 30vw;
    opacity: 70%;
}
input.slider:hover{
    opacity: 100%;
}


footer {
    text-align: center;
}
