body {
    background: rgba(51, 139, 240, 0.3);
    font: normal 15pt Calibri;
}

header {
    text-align: center;
    padding-top: 5px;
}

main {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 75%;
}

div {
    text-align: center;
    padding: 15px;
}

table {
    padding: 20px;
}
table.centered {
    margin: auto;
    width: fit-content;
}
table.centered tr td.slider-label {
    text-align: right;
}
td p {
    height: 20px;
    margin: 0px;
}

input.slider {
    margin-top: 10px;
    height: 100%;
    width: 30vw;
    opacity: 70%;
}
input.slider:hover{
    opacity: 100%;
}


footer {
    text-align: center;
}
